/*  trix-editor */
trix-toolbar [data-trix-button-group="file-tools"] {
    display: none;
}

/* multilevel dropdown */
.dropdown:hover>.dropdown-content {
    display: block;
}

.jaya {
    position: fixed;
    inset: 0;
    background-image: linear-gradient(to top left, #060764, #00b7dd);
    width: 100%;
    height: 100vh;
    z-index: -1;
}

